<div class="d-flex justify-content-center mt-4">
    <div class=" col-md-3">
        <div class=" card card-user">
            <div class=" card-body">
                <p class=" card-text"></p>
                <div class=" author">
                    <div class=" block block-one"></div>
                    <div class=" block block-two"></div>
                    <div class=" block block-three"></div>
                    <div class=" block block-four"></div>
                    <a href="javascript:void(0)">
                        <img alt="..." class=" avatar" src="assets/img/emilyz.jpg" />

                        <form [formGroup]="authForm">

                            <div class="row">

                                <div class="col-md-12">
                                    <div class=" form-group">

                                        <input class=" form-control" formControlName="ID" placeholder="Email" type="text" />
                                        <div *ngIf="isSubmited && formControls.ID.errors" class="help-block">

                                            <div *ngIf="formControls.ID.errors && formControls.ID.errors?.required">Email is required</div>
                                            <div *ngIf="formControls.ID.errors && formControls.ID.errors?.email">Error Email type</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class=" form-group">

                                        <input class=" form-control" formControlName="password" placeholder="Password" type="password" />
                                        <div *ngIf=" formControls.password.errors" class="help-block">

                                            <div *ngIf="formControls.password.errors && formControls.password.errors?.required">Password is required</div>
                                            <div *ngIf="formControls.password.errors && formControls.password.errors.minlength">Password must be at least 5 characters</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class=" btn btn-fill btn-danger" (click)="authentification()" type="submit">Login</button>
                                    <div>{{errorAuth}}</div>
                                </div>
                            </div>
                        </form>
                    </a>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="color: brown;" class=" description">OneEvent with <i class=" tim-icons icon-heart-2"> </i> by OneClick </p>

                        </div>
                    </div>
                </div>

            </div>
            <div class=" card-footer">
                <div class=" button-container">
                    <button class=" btn btn-icon btn-round btn-facebook" href="https://www.instagram.com/lotfialiane/">
                <i class=" fab fa-instagram"> </i>
              </button>
                    <button class=" btn btn-icon btn-round btn-twitter" href="https://www.linkedin.com/in/lotfi-aliane-68797a143/">
                <i class=" fab fa-linkedin"> </i>
              </button>
                    <button class=" btn btn-icon btn-round btn-google" href="https://www.linkedin.com/in/lotfi-aliane-68797a143/">
                <i class=" fab fa-google-plus"> </i>
              </button>
                </div>
            </div>
        </div>
    </div>
</div>