
<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title"> Etes vous sur de vouloir suprimer ? </h1>
    </header>
    <section id="modal-body">
        <p>Cet Action est iiréverssible  </p>
    </section>
    <footer id="modal-footer">
        <button mat-raised-button class=" btn btn-fill btn-danger "(click)="actionFunction()">Supprimer</button>
        <button mat-raised-button class=" btn btn-fill btn " (click)="closeModal()">Annuler</button>
    </footer>
</div>
