<div class="logo">
    <a href="https://www.creative-tim.com?ref=bda-sidebar-logo" class="simple-text logo-mini">
        <div class="logo-img">
            <img src="./assets/img/logoOneclick.png" />
        </div>
    </a>
    <a href="./assets/img/logOneclick.png" class="simple-text logo-normal">
        <p>1Event</p>
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="tim-icons  {{ menuItem.icon }}"></i>
                <p>{{ menuItem.title }}</p>
            </a>
        </li>
    </ul>
</div>